- set_fact: role_name=mdm

- set_fact: node_is_manager=1

- name: include vars
  include_vars: "../../os_vars/{{ ansible_distribution }}.yml"

- name: install pre-requisite packages
  package: name={{ item }} state=latest
  with_items: "{{ scaleio_mdm_packages }}"

- name: pre-requisite on rhel6 based os
  sysctl: name=kernel.shmmax value=209715200
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

- include: ../../install_scaleio.yml

- name: add primary mdm
  command: scli --create_mdm_cluster --master_mdm_ip {{ scaleio_mdm_primary_ip }} --master_mdm_management_ip {{ scaleio_mdm_primary_ip }} --master_mdm_name {{ scaleio_mdm_primary_hostname }}  --accept_license --approve_certificate
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  ignore_errors: true
  register: add_primary_mdm
  changed_when: "'already configured' not in add_primary_mdm.stderr"

- name: wait for mdm to be active
  wait_for: port=6611 state=started
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"

- name: initial login
  command: scli --login --username admin --password admin
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  ignore_errors: true
  register: initial_login

- name: login with new password
  command: scli --login --username admin --password "{{ scaleio_password }}"
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  when: initial_login.rc == 7

- name: set password
  command: scli --set_password --old_password admin --new_password "{{ scaleio_password }}"
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  when: initial_login.rc == 0

- name: secondary node login
  command: scli --login --mdm_ip {{ scaleio_mdm_primary_ip }} --username admin --password {{ scaleio_password }} --approve_certificate
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"

- name: add secondary mdm
  command: scli --add_standby_mdm --new_mdm_ip {{ scaleio_mdm_secondary_ip }} --mdm_role manager --new_mdm_management_ip {{ scaleio_mdm_secondary_ip }} --approve_certificate
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  ignore_errors: true

- name: tertiary node login
  command: scli --login --mdm_ip {{ scaleio_mdm_primary_ip }} --username admin --password {{ scaleio_password }} --approve_certificate
  run_once: true
  delegate_to: "{{ scaleio_mdm_tertiary_hostname }}"
  when: scaleio_mdm_tertiary_ip is defined

- name: add secondary mdm
  command: scli --add_standby_mdm --new_mdm_ip {{ scaleio_mdm_tertiary_ip }} --mdm_role manager --new_mdm_management_ip {{ scaleio_mdm_tertiary_ip }} --approve_certificate
  run_once: true
  delegate_to: "{{ scaleio_mdm_primary_hostname }}"
  ignore_errors: true
  when: scaleio_mdm_tertiary_ip is defined

